<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="AutoShop" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=AutoShop;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>